body {
    color: white;
    font-family: 'Cormorant Garamond', serif;
}

.weatherwidget-io {
    border-radius: 15px 50px 30px;
}

.hero {
    border-radius: 15px 50px 30px;
    margin-top: 10px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

#tasks {
    margin-top: 5px;
}

.input {
    border-radius: 15px 50px 30px;
    font-family: 'Cormorant Garamond', serif;
}

.saveBtn, .doneBtn {
    background-color: #21ABCD;
    border-radius: 15px 50px 30px;
    font-family: 'Cormorant Garamond', serif;
    color: white;
}

.complete{
    background-color: rgb(71, 248, 27);
    border-radius: 15px 50px 30px;
    font-family: 'Cormorant Garamond', serif;
    color: white;
}

#settings {
    border-radius: 15px 50px 30px;
    margin-top: 10px;
}

#addBtn {
    background-color:#60ADB6;
    border-radius: 15px 50px 30px;
    font-family: 'Cormorant Garamond', serif;
    color: white;
}

#deleteBtn {
    border-radius: 15px 50px 30px;
    font-family: 'Cormorant Garamond', serif;
}

.footer {
    border-radius: 15px 50px 30px;
    background-color: #00d1b2;
}

.content h3 {
    color: white;
}


#copyright {
    text-align: center;
}